__pycache__/

.DS_Store
.idea/Home_Assistant_SkyQ_MediaPlayer.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/vcs.xml
.idea/misc.xml
.idea/workspace.xml
